body {
  background-color: darken(white, 2%);
}

h1 {
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  margin: 2.5em 0 1.5em 3em;
}

.section {
  display: grid;
  margin: 0.5em auto;
  height: 100px;
  min-width: 240px;
  // grid-template-areas: "person-image person-info";
}

button {
  background-color: white;
  border-radius: 3px;
  border: 1px solid #cfcfcf;
  transition: 0.4s ease-in-out;
  // max-width: 250px;
}

button:hover {
  background-color: darken(white, 5%);
}

.people {
  margin-top: 1em;
  height: 85vh;
  flex-wrap: wrap;
  display: flex;
  justify-content: center;
}

.person-image {
  float: left;
}

.person-image img {
  grid-area: person-image;
  border-radius: 50%;
  width: 50px;
  height: 50px;
}

.person-info {
  grid-area: person-info;
  float: right;
}

.person-name {
  font-size: 0.6rem;
}

.person-email {
  font-size: 0.6rem;
}

.person-city {
  font-size: 0.6rem;
}

.person-info h3 {
  font-weight: lighter;
}

.person-info h2,
.person-info h3 {
  font-family: "Roboto", sans-serif;
  text-align: right;
}

/* The Modal (background) */
#modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  margin: 0 auto;
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  font-family: "Roboto", sans-serif;
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px 20px 100px 20px;
  border: 1px solid #888;
  border-radius: 6px;
  width: 65%; /* Could be more or less, depending on screen size */
  height: 30%;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 2;
}

/* The Close Button */
.close {
  color: #aaa;
  margin-left: 0.5em;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

/* Modal Content */
.modal-image {
  display: flex;
  justify-content: center;
}

.modal-image img {
  border-radius: 50%;
  width: 50px;
  height: 50px;
  @media (min-width: 768px) {
    width: 70px;
    height: 70px;
  }
}

.modal-name,
.modal-email,
.modal-cell,
.modal-address,
.modal-birthday {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  text-align: center;
}

.modal-name h2 {
  font-weight: bolder;
  font-size: 0.8rem;
  @media (min-width: 768px) {
    font-size: 1rem;
  }
}

.modal-email h3,
.modal-cell h3,
.modal-address h3,
.modal-birthday h3 {
  font-weight: lighter;
  font-size: 0.8rem;
  margin: 0.3em auto;
  @media (min-width: 768px) {
    font-size: 1rem;
  }
}
