body {
  background-color: darken(white, 2%);
}

h1 {
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  margin-left: 3em;
  margin-top: 2.5em;
}

.section {
  display: grid;
  margin-left: 2em;
  height: 100px;
  width: 300px;
  grid-template-areas: "person-image person-info";
}

button {
  background-color: white;
  border-radius: 3px;
  border: 1px solid #cfcfcf;
  transition: 0.4s ease-in-out;
}

button:hover {
  background-color: darken(white, 5%);
}

.people {
  margin-top: 1em;
  width: 100vw;
  height: 100vh;
  flex-wrap: wrap;
  display: flex;
  justify-content: center;
}

.person-image {
  float: left;
  margin-left: 1em;
}

.person-image img {
  grid-area: person-image;
  border-radius: 50%;
}

.person-info {
  grid-area: person-info;
  margin-left: 6em;
}

.person-name {
  font-size: 0.6rem;
}

.person-email {
  font-size: 0.6rem;
}

.person-city {
  font-size: 0.6rem;
}

.person-info h3 {
  font-weight: lighter;
}

.person-info h2,
.person-info h3 {
  font-family: "Roboto", sans-serif;
  text-align: left;
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  margin: 0 auto;
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  font-family: "Roboto", sans-serif;
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 30%; /* Could be more or less, depending on screen size */
}

.modal-content img {
  border-radius: 50%;
}

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}
